<div class="card-content">
  <div class="content">
    <form (ngSubmit)="prepareAndSubmit()" #heroForm="ngForm">
      <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
          <input
            class="input"
            #descriptionNgModel="ngModel"
            required
            noWhiteSpaceValidator
            [class.is-danger]="
              (descriptionNgModel.touched || descriptionNgModel.dirty) &&
              !descriptionNgModel.valid
            "
            type="text"
            placeholder="Description"
            [(ngModel)]="model.description"
            name="description"
          />
        </div>
        <p
          *ngIf="!descriptionNgModel.pristine && !descriptionNgModel.valid"
          class="help is-danger"
        >
          This field is required
        </p>
      </div>

      <div class="field">
        <label class="label" for="amount">Amount</label>
        <div class="control">
          <input
            class="input"
            type="text"
            required
            numberWith2DecimalsValidator
            #amountNgModel="ngModel"
            [class.is-danger]="
              (amountNgModel.touched || amountNgModel.dirty) &&
              !amountNgModel.valid
            "
            placeholder="Amount"
            [(ngModel)]="model.amount"
            name="amount"
          />
        </div>
        <p
          *ngIf="!amountNgModel.pristine && !amountNgModel.valid"
          class="help is-danger"
        >
          <span
            *ngIf="
              amountNgModel.errors &&
              amountNgModel.errors['numberWith2Decimals']
            "
          >
            Amount must be a number with max 2 decimals
          </span>

          <span
            *ngIf="amountNgModel.errors && amountNgModel.errors['required']"
          >
            This field is required
          </span>
        </p>
      </div>
    </form>
  </div>
</div>

<footer
  class="card-footer is-flex is-align-items-center is-justify-content-right py-2"
>
  <button class="button is-danger mr-3" (click)="handleDialogClose()">
    Cancel
  </button>
  <button
    type="submit"
    class="button is-primary mr-3"
    (click)="prepareAndSubmit()"
    [disabled]="!heroForm.form.valid"
  >
    Submit
  </button>
</footer>
