<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title">Incomes</h1>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-primary" routerLink="/incomes/create">
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span>New income</span>
      </a>
    </div>
  </div>
</div>

<div class="mat-elevation-z8 data-table">
  <table mat-table matSort [dataSource]="dataSource" class="data-table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <div class="level">
          <div class="level-item mx-2">
            <a class="button is-primary" (click)="handleEditAction(row)">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >edit</mat-icon
              >
            </a>
          </div>
          <div class="level-item mx-2">
            <a class="button is-primary" [routerLink]="'/incomes/' + row.id">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >arrow_forward</mat-icon
              >
            </a>
          </div>
          <div class="level-item mx-2">
            <a class="button is-danger" (click)="handleDeleteAction(row)">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >delete</mat-icon
              >
            </a>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
