/* You can add global styles to this file, and also import other style files */
@import "./app/styles/bulma-theme.sass"
@import "./app/styles/custom-bulma.sass"

*
  box-sizing: border-box

body
  min-height: 100vh
  overflow-x: hidden
  overflow-y: scroll
  background-color: #dbdbdb !important

  #root
    display: flex
    flex-direction: column
    flex-grow: 1
    min-height: 100vh

    // #app-outlet
      // display: none

    .app-main
      margin-top: 64px
      flex-grow: 1
      margin-left: auto
      margin-right: auto
      padding: 8px 16px
      width: 1200px
      max-width: 100%
      .data-table-container
        height: 400px

      .MuiAlert-message
        .MuiList-root, .MuiListSubheader-root
          background-color: transparent
